/* writing beautiful css for my todo app */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3f6290d7;
    overflow-x: scroll;
}
h1{
    text-align: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.todo-app{
    width: 700px;
    margin: 0 auto;
    background-color: #3f6290d7;
    padding: 20px;
    border-radius: 10px;
}
.delete-btn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #010911a8;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    float: center;
}
.todo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1101016c;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
.todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.todo-form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border:#035e97;
    border-radius: 5px;
    font-size: 16px;
}

.todo-form .formdesc input[type="text"] {

    width:100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border: #035e97;
    border-radius: 5px;
    font-size: 16px;
}

.todo-form button[type="submit"] {
    
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #035e97;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.591);
    padding: 0px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: justify;
    font-size: small;
}
